createdAt: "2018-07-13T10:48:10.920Z"
updatedAt: "2018-07-13T10:58:27.217Z"
type: "MARKDOWN_NOTE"
folder: "0c44d96a30437928a3be"
title: "react-ts"
content: '''
  # react-ts
  1. 组件定义
  `class TodoItem extends React.Component<TodoProps, TodoState>`
  2. 事件
  ```ts
    private handleDoubleClick = (e: React.SyntheticEvent<any>) => {
      this.setState({ editing: true });
    };
  ```
  3. Partial 映射 部分参数
  `(data: Partial<TodoModel>) => {}`
'''
tags: [
  "react"
  "typescript"
  "类型"
]
isStarred: false
isTrashed: false
