createdAt: "2018-07-09T08:14:44.765Z"
updatedAt: "2018-07-15T13:37:30.152Z"
type: "MARKDOWN_NOTE"
folder: "ceaef6c633bb2459916d"
title: "类型断言（type assertion）"
content: '''
  # 类型断言（type assertion）
  类型断言可以手动指定一个值得类型。
  ```js
  function getLength(something: string | number): number {
      if ((<string>something).length) {
          return (<string>something).length;
      } else {
          return something.toString().length;
      }
  }
  ```
  使用类型断言，将 something 断言成 string。
  语法：
  ```ts
  1. <类型>值
  2. 值 as 类型 // jsx（react）中必须使用这一个
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
